td {
    text-align: center;
    padding: 10px;
    border: 1px solid steelblue;
    
}
table, th {
    text-align: left;
    border: 1px solid steelblue;
    
    
    
    
}
tr {
  border: 1px solid steelblue; 
  
  
}




